<header class="main-header" id="main-header" data-sticky data-sticky-class="stuck">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-1 hide-for-small-only cell">
        <a href="{{@site.url}}">{{> logo}}</a>
      </div>
      <div class="auto">
        <h1>{{ alt-title }}</h1>
      </div>
    </div>
  </div>
</header>
