<svg width="60" height="50" xmlns="http://www.w3.org/2000/svg" class="logo">
  <title>William Andrew Novak</title>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="w_1" y2="37.5" x2="7.5" y1="22.5" x1="0" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="w_2" y2="22.5" x2="15" y1="37.5" x1="7.5" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="w_3" y2="37.5" x2="22.5" y1="22.5" x1="15" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="wa" y2="22.5" x2="30" y1="37.5" x1="22.5" stroke-width="2" class="logo-secondary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="a_1" y2="37.5" x2="37.5" y1="22.5" x1="30" stroke-width="2" class="logo-secondary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="a_x" y2="22.5" x2="45" y1="37.5" x1="22.5" stroke-width="2" class="logo-secondary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="n_1" y2="37.5" x2="37.5" y1="22.5" x1="45" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="n_2" y2="37.5" x2="52.5" y1="22.5" x1="45" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="n_3" y2="22.5" x2="60" y1="37.5" x1="52.5" stroke-width="2" class="logo-primary" fill="none"/>
 </g>
</svg>
