<header class="main-header" id="main-header" style="position: fixed; width: 100%;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-8 small-12 cell">
        <a href="{{@site.url}}">{{> logo}}</a>
      </div>
      <div class="auto hide-for-small-only cell">
        {{> nav}}
      </div>
    </div>
  </div>
</header>
