<svg width="120" height="100" xmlns="http://www.w3.org/2000/svg" class="logo">
  <title>William Andrew Novak</title>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="w_1" y2="45" x2="15" y1="15" x1="0" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="w_2" y2="15" x2="30" y1="45" x1="15" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="w_3" y2="45" x2="45" y1="15" x1="30" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="wa" y2="15" x2="60" y1="45" x1="45" stroke-width="2" class="logo-secondary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="a_1" y2="45" x2="75" y1="15" x1="60" stroke-width="2" class="logo-secondary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="a_x" y2="15" x2="90" y1="45" x1="45" stroke-width="2" class="logo-secondary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="n_1" y2="45" x2="75" y1="15" x1="90" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="n_2" y2="45" x2="105" y1="15" x1="90" stroke-width="2" class="logo-primary" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="n_3" y2="15" x2="120" y1="45" x1="105" stroke-width="2" class="logo-primary" fill="none"/>
 </g>
</svg>
