<div class="addl-padding">
  <img src="{{asset "images/profile.png"}}" width="250" height="232">
  <p>
    Hey there, I'm Will, and I like to wear my ski goggles too high on my face. If you're looking for
    mountaintop fashion advice, you've come to the right (read: wrong) place!
  </p>
  <p>
    What you'll find here is a collection of technical musings from a pragmatic software engineer. I
    deal mostly in full-stack but my proclivity for face-diving into the unknown
    tends to lead me down varied paths.
  </p>
  {{> tags}}
</div>
