<nav class="menu">
  <ul>
    <li>
      <a href="https://github.com/wanovak" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-github fa-md"></i>
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/424422/wanovak" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-stack-overflow fa-md"></i>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/wanovak" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-linkedin fa-md"></i>
      </a>
    </li>
  </ul>
</nav>
